---
layout: plain
url: /home
---

<div class="hero hero--overlay hero--bridge d-flex flex-column u-z-index--deep-underground hero--blured">
    <div class="mb-5">
        {% include nav.html class="u-z-index--sky"  %}
    </div>

    <h1 class="u-z-index--sky font-weight-bold  text-white text-center mb-5">
        Inovation, Leidenschaft, Recyclying
    </h1>


    <div class="e-overlay e-overlay--blured u-z-index--ground">
    </div>
</div>

<div class="align-self-center mt-auto p-1 u-z-index--sky d-md-flex flex-wrap justify-content-center u-position-md--top-50">
    
    <article class="e-card center mr-2 mb-4 bg-light">
        <header>
            <h5 class="bg-info text-light mb-0 p-2">
                    {% include icons/research.html class="u-icon--small ml-auto mr-auto d-block"  %}
                Holz Vergasung
            </h5>
        </header>
        <section class="text-center">
            <ul class="list-group text-left mb-2">
                <li class="list-group-item"> Bis zu 300 kW/h pro Anlage    </li>
                <li class="list-group-item"> Automatische Gesteuert        </li>
                <li class="list-group-item"> Automatische Gesteuert        </li>
                <li class="list-group-item"> Consultation on Enegery storage </li>
            </ul>
            <a href="#!" class="d-block p-2">
                    Mehr Erfahren
            </a>
        </section>
    </article>

    <article class="e-card center mr-2 mb-4 bg-light">
        <header>
            <h5 class="bg-info text-light mb-0 p-2">
                    {% include icons/research.html class="u-icon--small ml-auto mr-auto d-block"  %}
                Holz Vergasung
            </h5>
        </header>
        <section class="text-center">
            <ul class="list-group text-left mb-2">
                <li class="list-group-item"> Bis zu 300 kW/h pro Anlage    </li>
                <li class="list-group-item"> Automatische Gesteuert        </li>
                <li class="list-group-item"> Automatische Gesteuert        </li>
                <li class="list-group-item"> Consultation on Enegery storage </li>
            </ul>
            <a href="#!" class="d-block p-2">
                    Mehr Erfahren
            </a>
        </section>
    </article>

        <article class="e-card center mr-2 mb-4 bg-light">
            <header>
                <h5 class="bg-info text-light mb-0 p-2">
                        {% include icons/research.html class="u-icon--small ml-auto mr-auto d-block"  %}
                    Holz Vergasung
                </h5>
            </header>
            <section class="text-center">
                <ul class="list-group text-left mb-2">
                    <li class="list-group-item"> Bis zu 300 kW/h pro Anlage    </li>
                    <li class="list-group-item"> Automatische Gesteuert        </li>
                    <li class="list-group-item"> Automatische Gesteuert        </li>
                    <li class="list-group-item"> Consultation on Enegery storage </li>
                </ul>
                <a href="#!" class="d-block p-2">
                        Mehr Erfahren
                </a>
            </section>
        </article>
</div>
