---
layout: plain
url: /home
---

<div class="hero hero--overlay hero--powerline d-flex flex-column u-z-index--deep-underground hero--blured">
    <div class="mb-7">
    </div>

    <div class=" u-z-index--sky  u-fonts-arvo text-white text-center mb-5 u-text--massive u-text-shadow">
        GET ON 
        <span>THE</span>
        <div class="font-weight-bolder"> <span class="py-4 px-7 u-background--green"> GRID </span></div>
    </div>


    <div class="e-overlay e-overlay--blured u-z-index--ground">
    </div>
</div>

    {% include nav.html class="u-z-index--sky text-dark shadow sticky-top"  %}

    <h1>
        Strom un warme ohne ressourcen verbrauch erzeugen 
    </h1>
{% include sites/technik.html %}


