

@include media-breakpoint-up(lg) {

    .u-text--massive {
        font-size: 5em;
    }

}

@include media-breakpoint-down(lg) {

    .u-text--massive {
        font-size: 7em;
    }

}


@include media-breakpoint-down(sm) {

    .u-text--massive {
        font-size: 4em;
    }

}

.u-text--large {
    font-size: 1.5em;
}

.u-text--medium {
    font-size: 1.2em;
}

.u-text--12 {
    font-size: 1em;
}

.u-text--small {
    font-size: 0.9em;
}

.u-text-shadow {
    text-shadow: 4px 4px rgba(30, 30, 30,0.5);
}

.u-font-arial {
    font-family: Arial, Helvetica, sans-serif;
}

.u-font-open-sans {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

