
.u-text--12 {
    font-size: 12pt;
}

.u-text--massive {
    font-size: 64pt;
}

.u-text-shadow {
    text-shadow: 4px 4px rgba(30, 30, 30,0.5);
}

.u-font-arial {
    font-family: Arial, Helvetica, sans-serif;
}

.u-fonts-arvo {
    font-family: Arvo;
}