
<picture>
    <!-- sm-->
    <source 
        srcset="{{ "#{{include.baseSrc | relative_url}}-m.jpeg"}}" 
        media="(max-width: 768px)"
    >
    <!-- L-->
      <source 
        srcset="{{ "#{{include.baseSrc | relative_url}}-l.jpeg"}}" 
        media="(max-width: 1200)"
    >
    <!-- XL-->
    <source 
        srcset="{{ "#{{include.baseSrc | relative_url}}-xl.jpeg"}}" 
        media="(max-width: 1920px)"
    >
    <!-- XXL-->
    <source 
        srcset="{{ "#{{include.baseSrc | relative_url}}-xxl.jpeg"}}" 
        media="(min-width: 1920px)"
    >

    <img 
      srcset="{{ "#{{include.baseSrc | relative_url}}-l.jpeg"}}" 
      alt="PowerCraft NEW ENERGY"
      class="{{include.class}}"
    />
  </picture>