/**/
@import '../../bower_components/bootstrap/scss/functions.scss';
@import '../../bower_components/bootstrap/scss/_variables.scss';


html {
    font-family: Arial, Helvetica, sans-serif;
}

.carousel-control-prev, .carousel-control-next {
    visibility: hidden;

    &:hover {
        visibility: visible;
    }
}