[Desktop Entry]
Encoding=UTF-8
Name=Link to Free stock photo of bark, chopped wood, cut
Type=Link
URL=https://www.pexels.com/photo/bark-chopped-wood-cut-environment-629138/
Icon=text-html
