
@include media-breakpoint-down(sm) {
    .hero--bridge {
        background-position-x: 25%;
    }
}

@include media-breakpoint-up(lg) {
    .hero--bridge {
        background-position-y: 30%;
    }
}

.hero--bridge {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/assets/img/heros/hero-bridge-xxl.jpeg");
}


.hero--powerline {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 55%;
    background-image: url("/assets/img/heros/powerline.jpg");
}


 