
@include media-breakpoint-down(sm) {
    .hero--bridge {
        background-position-x: 25%;
    }
}

@include media-breakpoint-up(lg) {
    .hero--bridge {
        background-position-y: 30%;
    }
}


.hero--powerline {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 55%;
    background-image: asset_url("heros/powerline.jpg @magick:resize=300x300");
}


 