---
layout: default
permalink: /impressum
title: "Impressum"
nav_ignore: yes
---
<div class="container pt-2 bg-juriz">
    <h1> Impressum</h1>
    <p>
        <address>
            <p class="pt-2">
                <strong>Powercraft GmbH,</strong> <br/> 
                Elsenberg 10a, <br/> 
                91361 Pinzberg, <br/> 
            </p>
            Tel: <a href="tel:+49 9191 7023449">+49 9191 7023449</a> <br/>
            Mail: <a href="mailto:Kuhn@powercraftgmbh.com">Kuhn@powercraftgmbh.com</a> <br/>
        </address>
    </p>
    
    <p>
        <strong>Vertreten durch: </strong> <br/>
        Hannes Kuhn, Johanna Kuhn, Fabian Senn
    </p>
     <strong> Commercial register: </strong> Bamberg HRB 8685 <br/>
    <strong>Umsatzsteuer-Identifikationsnummer:</strong> UST-ID/VAT-No.: DE2483855
    <p> © 2018 Powercraft GmbH – Alle Rechte vorbehalten </p>
</div>
