
@include media-breakpoint-up(md) {

    .u-position-md--top-50 {
        position: relative;
        top: -25%;
    }

}

.u-vertical-align--top {
    vertical-align: top;
}

.u-position--relative { position: relative; }