

.e-overlay {
    position: relative;
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 0;
    }
    
    &.e-overlay--soft {
        &:before {
            background-color: rgba(0,0,0, 0.3);
        }
    }

    &.e-overlay--soft-radial {
        &:before {
            background-image: radial-gradient(rgba(0,0,0, 0.4), rgba(0,255,0, 0.1));
        }
    }
}
