<video id="my-video" class="video-js vjs-big-play-centered {{include.classes}}" controls preload="metadata"
    poster="/assets/video/powercraft.cover.png" data-setup='{"fluid":false}'
    height="{{include.height}}"
>
    <source src="{{include.mp4VideoSource}}" type='video/mp4'>

    <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a web browser that
        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
</video>