

.icon-header-circle {
    text-align: center;
    border-radius: 90px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 2em;
    height: 2em;
    padding-top: 0.5em;
    font-size: 4em;
}