
<article class="m-5">

    <article class="p-3 bg-white rounded d-none">
        <video id="my-video" class="video-js vjs-big-play-centered {{include.classes}}" controls preload="metadata"
        poster="/assets/video/powercraft.cover.png" data-setup='{"fluid":true}'
        >
            <source src="/assets/video/powercraft.mp4" type='video/mp4'>
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a web browser that
                <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
        </video>
    </article>


    <article class="p-3 bg-white rounded">
            <section class="d-inline-flex u-vertical-align--top">
                <div class="u-width--fit-content">
                   
                </div>

            <summary class="px-3">
                <h2 class="text-left">Holzvergasungs Technik</h2>
                <section>
                        Die Geschichte der Holzvergaser beginnt bereits im 19. Jahrhundert. Damals wurde aus Holz durch die Holzverkohlung noch wichtige Rohstoffe für die Chemieindustrie erzeugt.
                        In den 1930er und 1940er entstanden, nicht zuletzt auch wegen dem Treibstoffmangel durch Kriege, einige Fahrzeuge die mit einem Holzvergaser ausgestattet waren. Das bei der Verbrennung entstehende Holzgas wurde dann zum Antrieb der Fahrzeuge genutzt. Dabei konnte etwa ein Liter Benzin durch die aus 3 kg Holz gewonnene Gasmenge ersetzt werden.
                </section>
            </summary>

        </section>
        
    </article>
            

    <section class="d-md-inline-flex py-3 border-dark" itemscope itemtype="http://schema.org/Product">
        <section class="mx-4 mb-5">
            <img class="img-fluid" src="/assets/img/product/product.jpg" itemprop="image" alt="Img of anlage w5"/>
        </section>

        <section class="pl-md-5">
            <header class="mb-2 border border-left-0 border-right-0 border-top-0">
                <h2 class="text-left">Versuchsanlage W5 - Holzvergaser</h2>
                <i class="p-2 u-text--12 e-suttle-info">Betriebstunden: 20,000+</i>
            </header>

            <article itemprop="description" class="pr-5">
                <p>
                    Die durch unsere Gesellschaft gebaute Holzvgasanlage W5 wurde durch den Erfinder Bernhard Werner in verschiedenen Versuchsanlagen 
                    entwickelt und ist seit nunmehr 20.000 Stunden im Dauereinsatz erprobt. Sie besteht aus Reaktor mit Beschickung, Gasreinigung und 
                    Steuerung. Das erzeugte Gasgemisch wird in einem BHKW dann verbrannt und durch einen generator in elektrische Energie umgewandelt. 
                </p>
                <section>
                    <h4 class="text-left">Analgendaten</h4>
                    <table style="width: 400px" class="mb-3">
                        <tr>
                            <td> Leistung elektrisch: </td>
                            <td> 300kw </td>
                        </tr>
                        <tr>
                            <td> Leistung thermisch: </td>
                            <td> 550kw </td>
                        </tr>
                        <tr>
                            <td> Jahresleitung elektrisch: </td>
                            <td> 2.200.000 Kwh </td>
                        </tr>
                        <tr>
                            <td> Holzverbrauch: </td>
                            <td> 0,75KG/Kwhel </td>
                        </tr>
                    </table>

                    <summary itemprop="description">
                            <h5 class="text-left">
                                Einsatzmöglichkeiten
                            </h5>
                                <ul>
                                    <li>
                                        autarke Versorgung ~1000 Privathaushalten mit Strom und Wärme.
                                    </li>
                                    <li>
                                         in Reihe mit bis zu 10 Anlagen einen mittelgroßen Industriebetrieb versorgen,
                                    </li>
                                    <li>
                                        mit Einspeisung in das öffentliche Netz eine attraktive Erhöhung der Wertschöpfungskette für Waldbesitzer,
                                    </li>
                                    <li>
                                        Wärmeversorgung, Holzverarbeitungs, oder Rohstoffverarbeitungsbetriebe 
                                    </li>
                                </ul>
                        </summary>
                </section>
            </article>
        </section>
        
        
    </section>

</article>


