.page-navbar {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

.navbar-waste-space{ height: 90%;}
.navbar-main{
    font-size: 150%;
    .nav-item{
        background: rgba($color: #000000, $alpha: 0.8);
        display: inline-block
    }
    .nav-link{
        color: #fff;
    }
} 
