---
title: Powercraft
layout: plain
url: /home
---

    
<div class="img-parallax hero  hero--powerline e-overlay e-overlay--soft-radial d-flex flex-column u-z-index--deep-underground hero--blured">
    
    <div class="h-25"> </div>
    <div class=" u-z-index--sky text-white text-center mb-sm-5">
        <h1 class=" u-text--massive u-text-shadow"> GET ON THE</h1>
        <div class="font-weight-bolder conatiner mx-auto my-3 my-xs-5 my-sm-5">
            <h1 class="u-background--green u-text--massive d-sm-inline py-3 px-sm-6 shadow-lg"> GRID </h1>
        </div>
        <h5 class="font-weight-bold"> Strom und Wärme ohne Ressourcen verbrauch </h5>
    </div>
</div>


{% include nav.html class="u-z-index--sky text-dark shadow sticky-top" %}

<article>
    {% assign home_components = site.home | where_exp: "item", "item.parent == nil" | sort: 'index' %}
    {% for home_item in home_components %}
        {{ home_item | markdownify }}
    {% endfor %}
</article>